In [1]:
import pandas as pd

In [6]:
ratings = pd.read_csv('ratings.csv')
kagle_metadata = pd.read_csv('movies_metadata.csv', low_memory=False)

In [18]:
ratings.sample(5)

          userId  movieId  rating   timestamp
11435718  118673      345     5.0   973310331
12400454  128628     1080     4.0  1498646961
14869965  154593     2615     3.0   962937426
13320427  138510    66310     3.5  1381311958
2575554    26748     2539     3.5  1243369532